@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;800&display=swap');
*{
    font-family: 'Raleway', sans-serif;
}

:root{
    --color-blue-ligth: #7893d9;
    --color-blue-dark: #37415c;
}

html{
    padding: 0;
    margin: 0;
    max-width: 1440px;
    min-width: 320px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    background: #F5F5F5 !important;
}
ul{
    list-style: none;
}
a{
    text-decoration: none !important;
}
a:hover{
    color: inherit !important;
}

.title-section{
    font-weight: 800;
    color: #464646;
}

.form-pattern{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.input-group{
    background: #ffffff;
    box-shadow: 0px 3px 5px -2px #6c6c6c3d;
    margin: 1.6% 0;
    padding: 0.4%;
}

.input, input{
    width: 100%;
    margin-top: 2.7%;
    padding: 1.3%;
    border: none;
    color: black;
    background-color: transparent;
    outline: none;
    font-size: .8rem;
}

.input-group label{
    color: #4a4a4abf;
    position: absolute;
    top: 0;
    left: -1%;
    transform: translate(10px,10px);
    transition: transform .25s;
}

.input:focus+label,
.input:valid+label{
    transform: translate(13px, 0px);
    color: rgb(120 147 217);
    font-size: .7rem;
}

section{
    margin: 6%;
}

.btn-blue{
    width: auto;
    text-align: center;
    background: var(--color-blue-dark);
    padding: 2%;
    margin: 3% 0;
    color: #ffffff !important;
    border-radius: 16px 0;
    transition: all .5s;
}   
    .btn-blue:hover{
        background: none;
        border: 1px solid var(--color-blue-dark);
        color:var(--color-blue-dark) !important;

    }
